@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}
.prata-regular{
    font-family: "Prata", "serif";
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar{
    display: none;
}

